

tbody, th, td {
    vertical-align: top;
    border: 1px solid black;
    padding: 0.3em;
  }
  
  td:nth-child(5) {
      background: var(--secondary-sidebar-text-color);
      overflow-x: auto;
  }
  
  td:nth-child(3) {
      text-align: right;
  }
  
  td:nth-child(2) {
      text-align: center;
  }
  
  th {
      /* position: sticky; */
      top: 0;
      background: var(--blue-color);
  }
  
  .header > th {
      position: sticky;
      /* outline: 1px solid; */
      /* border-collapse: separate; */
  }

th#assignment-group-column {
    width: 5em;
}
  
  th#points-column {
      width: 3em;
  }
  
  th#date-column {
      width: 5em;
  }
  
  th#name-column {
      width: 8em;
  }
  
  table {
      border-collapse: collapse;
      background-color: var(--sidebar-color);
      /* margin: 0.5em; */
  }
  
  table table {
      margin: 0.2em;
  }
  
  table.assignments-table {
      flex: 1;
      width: 100%;
      table-layout: fixed;
  }
  
  .assignments-table-div {
    display: flex;
    padding: 0;
  }
  
  