/* Styling for checkboxes */
input[type="checkbox"] {
  transform: scale(1.3);
  width: 40px;
  accent-color: var(--light-blue-color);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="number"] {
  width: 56px;
  text-align: right;
}

input[type="file"] {
  /* display: none; */
}

select {
  width: 100%;
  min-width: 40px;
  /* min-height: 5em; */
}

#assignment-attachment-box {
  display: flex;
  min-width: 15em;
  flex: 0;
  align-items: normal;
}

/* https://codepen.io/Scribblerockerz/pen/qdWzJw */
.file-area {
  position: relative;
  display: flex;
  flex: 1;
}


.file-area:hover .file-placeholder {
  background: var(--blue-color);
}

.file-area .file-placeholder {
  width: 100%;
  /* padding: 25px; */
  background: var(--light-blue-color);
  border: 3px dashed var(--background-color);
  border-radius: inherit;
  text-align: center;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.file-area input[type="file"] {
  display: block;
  position: absolute;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  padding: 1em;
  /* https://stackoverflow.com/a/24488438 */
  font-size: 0;
}

/* 
.file-area input[type=file]:focus + .file-placeholder {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
} */

/* .file-area input[type=file]:valid + .file-placeholder { */
#assignment-attachment.file-present + .file-placeholder {
border-color: var(--red-color);
  background-color: var(--light-red-color);
}

/* .styled-div:has(> #assignment-attachment.file-present + .file-placeholder) {
  background-color: var(--lighter-red-color);
} */



#attach-zone.active {
  border: 5px solid blue;
}

#attach-zone.active>* {
  pointer-events: none;
}

.file-label {
  border: 1px solid #979494;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 13px;
  transition: 0.5s;
  background: var(--red-color);
}

.file-label:hover {
  background-color: rgb(102, 96, 108);
  color: white;
}

/*
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
*/

.reset {
  display: none;
}

.styled-div {
  position: relative;
}

.reset {
  position: absolute;
  right: 1em;
  color: black;
}

.break {
  flex-basis: 100%;
  height: 0em;
}

.break::after {}

.styled-div.changed .reset {
  display: block;
}

.details {
  left: 10px;
  /* position: relative; */
  overflow: auto;
  /* width: auto; */
  margin: 5px;
}

div#assignments-list {
    /* width: 100%; */
    /* flex: 1; */
}

.changed {
  background-color: var(--lighter-red-color);
}

.new-assignment.inactive {
  background-color: #aa7d7d;
}

input {
  height: 20px;
  width: calc(100% - 10px);
}

input#id {
  /* float: left; */
  display: inline-block;
}

#id-label {
  /* position: relative; */
  /* float: left; */
  display: inline-block;
}

.action-button {
  cursor: pointer;
  font-size: larger;
  padding: 12px 15px;
  font-weight: bold;
  border-radius: 6px;
  /* width: 105px; */
  border-width: thin;
  background: var(--blue-color);
}

.copyto-span {
    position: relative;
}

.course-popup {
    /* display: none; */
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 2em;
    width: 20em;
    /* height: 30em; */
    background: rgba(120,120,120,90%);
    /* box-shadow: 0px 0px 1px 1px black;;border: 1px solid black;
    /* box-shadow: 0px 0px 1px 1px black;;/* box-shadow: 0px 0px 1px 1px black; */
    z-index: 2;
    border-radius: 10px;
    box-shadow: inset 0 0 16px 4px rgb(224 91 91 / 48%);
    /* margin-bottom: 1em; */
    /* transition: opacity 5s, visibility 5s linear 5s; */
    transition: opacity 0.1s ease-in-out 0.3s;
}

.copyto-button {
    height: 2em;
    cursor: pointer;
    /* font-size: larger; */
    /* padding: 12px 15px; */
    /* font-weight: bold; */
    border-radius: 6px;
    /* width: 105px; */
    border-width: thin;
    background: var(--blue-color);
    margin-bottom: 0.1em;
}

.copyto-span:hover .course-popup, .course-popup:hover, .copyto-span:hover .course-popup:hover {
    display: block;
    opacity: unset;
    /* visibility: unset; */
    pointer-events: unset;
    /* transition: opacity 0.5s linear 1s; */
}

#duplicate-button {
  background-color: var(--red-color);
  /* float: left; */
}

#delete-button {
  background-color: var(--red-color);
  float: right;
}

#delete-button:disabled {
  background-color: rgb(96 70 70);
  color: rgb(198 118 118);
  cursor: not-allowed;
}

#update {
  margin-bottom: 7px;
}

.parent-float {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-bottom: 0.4em;
}

.child-float {
  flex: 1;
  min-width: 10em;
  /* display: flex; */
  /* margin: 1px; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* justify-content: flex-start; */
  align-items: center;
}

#name-box {
    flex: 2;
}

#submission-types-box {
    min-width: 10em;
    flex: 0;
}

#published-box {
  flex: 0;
  min-width: 6em;
}

#url-box {
    flex: 2;
}

#description-box {
    flex: 5;
    min-width: 20em;
    min-height: 15em;
}

div#due_at-box {
}

div#points_possible-box {
  flex: 0;
  min-width: 6em;
}

#raw-description-container {
  display: none;
}

#raw-description {
  width: 650px;
  height: 250px;
  overflow: auto;
}

.assignments-sticky {
  position: sticky;
  top: 0;
  background: var(--secondary-sidebar-color);
  z-index: 1;
  /* border-bottom: 2px solid var(--background-color); */
  box-shadow: 0px 0px 5px 1px var(--background-color);
}


textarea#description {
    visibility: hidden;
    display: none;
}
