/* Styling for sidebar */
#courses-sidebar {
    /* float: left; */
    /* position: relative; */
    /* top: 0px; */
    /* left: 0px; */
    width: 6em;
    height: 100%;
    background-color: var(--sidebar-color);
    padding: 0px;
    display: block;
    min-width: 6em;
}

#courses-sidebar.collapsed {
    width: 37px;
    /* font-size: small; */
}

#courses-sidebar.collapsed a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#courses-sidebar h3,
.secondary-sidebar h3 {
    margin: 0px;
    color: #000000;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    height: 22px;
}

#courses-sidebar h3 {
    background: #c97a7a;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.secondary-sidebar h3 {
    background: #f59595c9;
    cursor: pointer;
    /* position: sticky; */
    /* top: 0; */
}

#courses-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#courses-sidebar li {
    transition: 0.25s;
}
#courses-sidebar li:hover {
    background-color: #dfc9c9;
}

#courses-sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-family: math;
}

#courses-sidebar a.active {
    /* font-weight: bold; */
    background-color: dimgrey;
    color: white;
}

.content {
    /* margin-left: 200px; */ /* Adjust this value based on the sidebar width */
    /* padding: 20px; */
    height: 100%;
    position: relative;
    display: flex;
    width: 100%;
    /* overflow: auto; */
}

/* Styling for inner sidebar */
.secondary-sidebar {
    --secondary-sidebar-width: 7em;
    /* float: left; */
    /* position: relative; */
    /* top: 0px; */
    /* left: 0px; */
    width: var(--secondary-sidebar-width);
    height: 100%;
    background-color: var(--secondary-sidebar-color);
    padding: 0px;
    display: block;
    overflow-y: auto;
    min-width: var(--secondary-sidebar-width);
}

.secondary-sidebar.collapsed {
    width: 94px;
}

.secondary-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.secondary-sidebar li {
    transition: 0.25s;
}
.secondary-sidebar li:hover {
    background-color: #dfc9c9;
}

.secondary-sidebar a {
    display: block;
    text-decoration: none;
    color: black;
}

.item {
    padding: 5px;
    font-family: math;
    font-size: smaller;
}

.secondary-sidebar a.active {
    /* font-weight: bold; */
    background-color: #838383;
    color: white;
}

.secondary-sidebar .refresh {
    /* color: blue; */
    background-color: var(--blue-color);
    font-weight: bold;
}
