
/* Styling for checkboxes */
input[type="checkbox"] {
  transform: scale(1);
  width: 40px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="number"] {
  width: 56px;
}
input[type="file"] {
  display: none;
}
.attach-label {
  border: 1px solid #979494;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 13px;
  transition: 0.5s;
}
.attach-label:hover {
  background-color: rgb(102, 96, 108);
  color: white;
}
/*
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
*/

.details {
  left: 10px;
  position: relative;
  overflow: auto;
  width: auto;
}

input {
  height: 20px;
  width: 172px;
}

.submit-button {
  font-size: larger;
  padding: 15px 20px;
  font-weight: bold;
}

.parent-float {
  display: flex;
  padding: 0px;
  /* width: 228px; */
  flex-wrap: wrap;
  /* width: 500px; */
  gap: 10px;
}

.child-float {
  /* float: left; */
  flex: 1;
  /* margin-right: 10px; */
  /* gap: 10px; */
}
.child-float:first-child {
  /* float: left; */
  /* margin-right: 10px; */
}
