/* Styles for the fullscreen overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
    z-index: 9999; /* Ensure it's above other content */
}

/* Styles for the message container */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: scroll;
    max-height: 90%;
    width: 70%;
}

/* Styles for the flash messages */
.flash-message {
    margin-bottom: 10px;
}

/* Styles for the OK button */
.ok-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.ok-button:hover {
    background-color: #0056b3;
}

.diff-table tbody, th, td {
    border: 1px solid black;
    padding: .3em;
    line-break: anywhere;
}

th:nth-child(1) {
    width: 6em;
}

td:nth-child(1) {
}

.diff-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table#assignment-diff {
    table-layout: fixed;
    width: 100%;
}
