:root {
  --red-color: rgb(224 91 91);
  --light-red-color: rgba(224,91,91,50%);--blue-color: rgb(150 182 210);
  --lighter-red-color: #f1b3b3;
  --lightblue-color: rgba(150,182,210,50%);--hover-color: #919191;
--background-color: #666666;
--sidebar-color: #a8a8a8;
--sidebar-text-color: black;--secondary-sidebar-color: #c0c0c0;
--secondary-sidebar-text-color: whitesmoke;
}

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: var(--background-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.main {
  /* top: 70px; */
  position: relative;
  height: 100%;
  left: 0px;
  display: flex;
  overflow-y: auto;
  /* box-sizing: border-box; */
  flex: 1;
}

h1 {
  margin: 0px 0px 7px;
  padding-left: 8px;
  /* text-align: center; */
  background: var(--blue-color);
  font-size: x-large;
}

/* Styling for the container div */
.styled-div {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* margin-bottom: 10px; */
  background-color: #ffffff63;
  /* padding-top: 5px; */
  /* width: fit-content; */
  /* width: 95%; */
  text-align: center;
  /* color: white; */
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  /* row-gap: 0.4em; */
}

/* Styling for the heading */
.styled-div h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  /* text-align: center; */
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ccc; */
  flex: none;
}

.mce-content-body {
  background: #c15959
}
