:root {
  --red-color: rgb(224 91 91);
  --light-red-color: rgba(224,91,91,50%);--blue-color: rgb(150 182 210);
  --lighter-red-color: #f1b3b3;
  --light-blue-color: rgba(150,182,210,50%);--hover-color: #919191;
--background-color: #666666;
--sidebar-color: #a8a8a8;
--sidebar-text-color: black;--secondary-sidebar-color: #c0c0c0;
--secondary-sidebar-text-color: whitesmoke;
}

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: var(--background-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 100%; */
}

.action-button {
  cursor: pointer;
  font-size: larger;
  padding: 12px 15px;
  font-weight: bold;
  border-radius: 6px;
  /* width: 105px; */
  border-width: 0;
  background: var(--blue-color);
  display: inline-block;
}

.action-button.small {
    font-size: smaller;
}

.action-button.warning {
    background: var(--red-color);
}

.action-button.left {
    float: left;
}

.action-button.right {
    float: right;
}

a {
  text-decoration: none;
  color: unset;
}

.main {
  /* top: 70px; */
  position: relative;
  height: 100%;
  left: 0px;
  display: flex;
  overflow-y: auto;
  /* box-sizing: border-box; */
  flex: 1;
  /* width: 100%; */
  /* gap: 1em; */
}

.content {
  /* margin: 1em; */
  /* Adjust this value based on the sidebar width */
  /* padding: 20px; */
  height: 100%;
  position: relative;
  display: flex;
  /* width: 100%; */
  /* overflow: auto; */
  flex: 1;
  /* padding: 5px; */
}

h1 {
  margin: 0px 0px 7px;
  padding-left: 8px;
  /* text-align: center; */
  background: var(--blue-color);
  font-size: x-large;
  /* height: 1.4em; */
  /* line-height: 0em; */
}

/* Styling for the container div */

.parent-float {
  display: flex;
  flex-wrap: wrap;
  gap: 1ex;
  margin-bottom: 1ex;
}

.styled-div {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* margin-bottom: 10px; */
  background-color: #ffffff63;
  /* padding-top: 5px; */
  /* width: fit-content; */
  /* width: 95%; */
  text-align: center;
  /* color: white; */
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  /* row-gap: 0.4em; */
}

/* Styling for the heading */
.styled-div h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  /* text-align: center; */
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ccc; */
  flex: none;
}

.mce-content-body {
  background: #c15959
}

.sidebar li:hover {
  background-color: var(--light-red-color);
  transition: 0.35s;
}

li.sidebar-item.published.active {
    box-shadow: -2px 0px 4px 1px var(--blue-color);
    background: linear-gradient(-135deg, var(--light-blue-color) 6px, transparent 6px);
    /* background-size: 100% 100%; */
    /* padding-left: 10px; */
    z-index: 0;
}

.sidebar-item.active > a {
  color: white;
}

.sidebar h3 {
  margin: 0px;
  color: #000000;
  padding: 5px 0px;
  /* text-align: center; */
  font-weight: bold;
  height: 22px;
  padding: 5px;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.sidebar li {
  font-size: smaller;
  font-family: math;
  position: relative;
}

.sidebar a {
  display: block;
  /* text-decoration: none; */
  color: black;
}

.sidebar-item {
  /* padding: 5px; */
  font-family: math;
  font-size: smaller;
}

.sidebar-item a {
    padding: 5px;
}

.sidebar-item.active {
  /* font-weight: bold; */
  background-color: var(--background-color) !important;
  color: white;
}

.sidebar-item.active > a {
  color: white;
}

.primary-sidebar {
  /* float: left; */
  /* position: relative; */
  flex: 0;
  width: 7em;
  height: 100%;
  background-color: var(--sidebar-color);
  padding: 0px;
  display: block;
  min-width: 6em;
  /* overflow-y: auto; */
}

.primary-sidebar a {
  display: block;
  /* text-decoration: none; */
  color: var(--sidebar-text-color);
  /* font-family: math; */
  padding-top: 12px;
  padding-bottom: 12px;
}

.primary-sidebar h3 {
  background: #c97a7a;
  position: sticky;
  /* top: 0; */
  overflow: clip;
  /* width: 2em; */
  /* rotate: 90deg; */
  /* transform: rotate(90deg); */
}


.secondary-sidebar.collapsed {
  width: 18em;
  /* max-width: 3em; */
  min-width: 6em !important;
}

.secondary-sidebar.collapsed > .sidebar-item {
  /* font-size: small; */
}

.secondary-sidebar.collapsed .secondary-sidebar-details {
  font-size: xx-small;
  display: none;
}

.secondary-sidebar-details {
  color: #707070;
  font-size: x-small;
  height: 1em;
}

.secondary-sidebar h3 {
  background: #f59595c9;
  /* position: sticky; */
  /* top: 0; */
}

.tertiary-sidebar h3 {
  background: #f59595c9;
  cursor: pointer;
  /* position: sticky; */
  /* top: 0; */
}

.primary-sidebar a {
  display: block;
  /* padding: 0.5em 0.2em; */
  /* text-decoration: none; */
  color: var(--sidebar-text-color);
  /* font-family: math; */
}

.primary-sidebar a:hover {
    background-color: var(--light-red-color);
    box-shadow: 0px 0px 2px 2px var(--light-red-color);
}

.sidebar-item.active {
  /* font-weight: bold; */
  background-color: var(--background-color) !important;
  color: white;
  /* margin-left: 1em; */
}
.sidebar-item.active .secondary-sidebar-details {
    color: var(--secondary-sidebar-color);
}

/* Styling for inner sidebar */
.secondary-sidebar {
  --secondary-sidebar-width: 8em;
  /* float: left; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  width: var(--secondary-sidebar-width);
  height: 100%;
  background-color: var(--secondary-sidebar-color);
  padding: 0px;
  display: block;
  overflow-y: auto;
  overflow-x: clip;
  min-width: var(--secondary-sidebar-width);
}

.sidebar.collapsed {
  width: 7em;
  min-width: 1em;
  text-wrap: nowrap;
}
.primary-sidebar.collapsed {
  width: 2em;
  /* font-size: small; */
  max-width: 2em;
  /* overflow: hidden; */
  min-width: 2em;
  font-weight: bold;
}

.primary-sidebar.collapsed a {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.secondary-sidebar {
  --secondary-sidebar-width: 8em;
  /* float: left; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  width: var(--secondary-sidebar-width);
  height: 100%;
  background-color: var(--secondary-sidebar-color);
  padding: 0px;
  display: block;
  overflow-y: auto;
  overflow-x: clip;
  min-width: var(--secondary-sidebar-width);
  box-shadow: 0px 0px 4px 1px var(--background-color);
  z-index: 1;
}

.sidebar.collapsed {
  width: 7em;
  min-width: 2em;
  text-wrap: nowrap;
}
.secondary-sidebar h3 {
  background: #f59595c9;
  /* position: sticky; */
  /* top: 0; */
}

.tertiary-sidebar h3 {
  background: #f59595c9;
  cursor: pointer;
  /* position: sticky; */
  /* top: 0; */
}



.sidebar-item.active .secondary-sidebar-details {
  color: var(--secondary-sidebar-color);
}


.collapsed > .assignments-sticky ul {
    display: none;
}

.course-actions a {
    padding: 0.6em;
}

.course-ended {
  background-color: var(--light-red-color);
  /* box-shadow: inset 0 0 0 0.1em var(--light-red-color); */
}

.course-started:not(.course-ended) {
  background-color: var(--light-blue-color);
  /* background-image: linear-gradient(#000, #000), linear-gradient(#0f0, #0f0); */
  /* background-size: 100% 1em, 100%; */
  /* box-shadow: inset 0 0 0 0.1em  var(--blue-color); */
}


.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue-color);
    align-items: center;
    margin-bottom: 1ex;
}

.page-header h1 {
    margin: 0;
}

.disable-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's on top of other content */
  display: none; /* Initially hide overlay */
  align-content: center;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: xx-large;
  vertical-align: middle;
  /* display: block; */
  /* line-height: 90px; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}


.disable-overlay::after {
    /* content: '...'; */
    /* transform: translateY(1em); */
    animation: fade-in 2s infinite ease-in-out;
    /* position: absolute; */
    content: '...';
}

@keyframes fade-in {
  0% {
    content: '\00A0\00A0\00A0';
  }
  40% {
    content: '.\00A0\00A0';
  }
  60% {
    content: '..\00A0';
  }
  80% {
    content: '...';
  }
  100% {
    content: '...';
    /* opacity: 0; Fade out the last dot */
  }
}
