#settings-page {
    width: 100%;
    position: relative;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#hidden {
    display: none;
}

div#used-options {
    /* height: 100%; */
    flex: 1;
    border: 1px solid black;
}

#section-selection {
    overflow: auto;
    width: 9em;
    padding: 5px;
}

#available-options {
    margin-top: auto;
    display: flex;
    /* position: absolute; */
    /* bottom: 0; */
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.option {
    /* flex: 0 0 10em; */
    /* width: 12em; */
    /* height: 5em; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    background-color: var(--light-blue-color);
    display: inline-block;
}

span.option-label {
    display: table-cell;
    vertical-align: middle;
}

[draggable=true] {
    cursor: move;
}

.section-settings {
    width: 100%;
}

div#section-settings {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.original-section-name {
    display: none;
}


details {
    width: 16em;
}