/* Styling for topbar */
#topbar {
    float: top;
    position: relative;
    /* top: 0px; */
    /* left: 0px; */
    /* width: 100%; */
    /* min-height: 70px; */
    background-color: var(--red-color);
    padding: 0px;
    z-index: 1;
    box-shadow: 0px 1px 1px var(--red-color);
    color: white;
}

#topbar #refresh a {
    color: black !important;
    background-color: var(--blue-color);
    border-radius: 4px;
    /* border-width: 4px; */
    /* border-color: black; */
}

#refresh:hover {
    background-color: #8da3b6;
}

#topbar a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: math;
}

#topbar a.active {
    font-weight: bold;
    background-color: lightblue;
}

#topbar ul {
    /* list-style-type: none; */
    white-space: nowrap;
    display: flex;
    /* overflow-x: scroll; */
    /* width: inherit; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* margin: inherit; */
    vertical-align: middle;
    /* float: right; */
    flex-wrap: wrap;
    margin: 0px;
    padding: 3px;
}

#topbar li {
    display: inline-block;
    /* float: left; */
    /* box-sizing: border-box; */
    /* width: 10%; */
    vertical-align: middle;
    transition: 0.25s;
    line-height: 15px;
    /* height: 18px; */
    /* align-items: center; */
    display: flex;
    /* overflow: hidden; */
    word-wrap: break-word;
    white-space: normal;
    /* box-shadow: 0px 0px 3px 1px; */
    border-radius: 3px;
}

#topbar li:hover {
    background-color: var(--hover-color);
}

#topbar li a {
    word-wrap: break-word;
}


#topbar .refresh li a {
    color: black !important;
}

#topbar-left {
    float: left;
}

#topbar-right {
    float: right;
}
