/* Styling for sidebar */
.topbar {
    float: top;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    /* min-height: 70px; */
    background-color: #e05b5b;
    padding: 0px;
    z-index: 1;
    box-shadow: 0px 1px 1px #e05b5b;
}

.topbar .refresh {
    color: black !important;
    background-color: #96b6d2;
}

.topbar a {
    /* display: block; */
    padding: 10px;
    text-decoration: none;
    /* color: black; */
    font-family: math;
}

.topbar a.active {
    font-weight: bold;
    background-color: lightblue;
}

.topbar ul {
    /* list-style-type: none; */
    white-space: nowrap;
    display: flex;
    /* overflow-x: scroll; */
    /* width: inherit; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* margin: inherit; */
    vertical-align: middle;
    /* float: right; */
    flex-wrap: wrap;
    margin: 0px;
    padding: 3px;
}

.topbar li {
    display: inline-block;
    /* float: left; */
    /* box-sizing: border-box; */
    /* width: 10%; */
    vertical-align: middle;
    transition: 0.25s;
    /* line-height: 18px; */
    /* height: 18px; */
    /* align-items: center; */
    display: flex;
    /* overflow: hidden; */
    word-wrap: break-word;
    white-space: normal;
    /* box-shadow: 0px 0px 3px 1px; */
    border-radius: 3px;
}

.topbar li:hover {
    background-color: #919191;
}

.topbar li a {
    /* display: block; */
    color: white;
    word-wrap: break-word;
}

.topbar .refresh li a {
    color: black !important;
}
