{% macro blob(title, id=None) -%}
<div class="styled-div child-float"
{% if id %}
  id="{{ id }}-box"
{% endif %}
>
  <span class="reset">✘</span>
  <h2>{{ title }}</h2>
{%- endmacro %}

{% macro endblob() -%}
</div>
{%- endmacro %}


<form id="update" action="/courses/{{ active_course.id }}/assignments/{{ assignment.id or 0 }}/update" method="POST"
  enctype=multipart/form-data>
  <!-- Assignment Title -->
  {% if assignment is not none %}
  <div class="page-header">
    <div>
      <h1>
        <a href="https://canvas.instructure.com/courses/{{ active_course.id }}/assignments/{{ assignment.id }}"
        target="_blank" rel="noopener noreferrer" style="display: inline-block;"><span style="float:left;">🔗 </span><span style="vertical-align: middle;">{{ assignment.name }}</span>
      </a>
    </h1>
  </div>
  <div class="switch-right">
    <span class="actions-span">
      <a href="{{ url_for('assignments_raw', course_id=active_course.id, assignment_id=assignment.id) }}">
        Switch to Raw 💱
      </a>
      <div class="assignment-actions">
        <ul>
          <li>
            <a href="{{ url_for('assignment_grades', course_id=active_course.id, assignment_id=assignment.id) }}">Grades</a>
          </li>
          <li>
            <button id="reload-details" class="action-button small" type="button" value="Refresh (Button)" onclick="reloadPage('reload-details')" data-dataurl="{{ url_for( 'push_page', course_id=active_course.id, assignment_id=assignment.id, refresh=true) }}">
              Refresh Assignment ↺
            </button>
          </li>
        </ul>
      </div>
    </span>
  </div>
</div>
  {% else %}
  <h1 class="new-assignment">
    Creating New Assignment
  </h1>
  {% endif %}

  <div class="parent-float">
    {{ blob("Assignment Name", id="name") }}
    <input type="text" id="name" name="name" autofocus="autofocus" value="{{ assignment.name }}" required>
    <label id="id-label" for="id">ID: </label>
    <input type="text" id="id" name="id"
      value="{{ 'Creating New Assignment' if assignment is none else assignment.id }}" disabled>
    {{ endblob() }}

    {{ blob("Points", id="points_possible") }}
    <input type="number" id="points_possible" name="points_possible" min="0"
      value="{{ assignment.points_possible }}">
    {{ endblob() }}

    {{ blob("Due Date", id="due_at") }}
    <input type="text" id="due_at" name="due_at" autocomplete="off" value="{{ assignment.due_at_date | format_date(time_zone=active_course.time_zone) if assignment.due_at }}">
    {{ endblob() }}

    {{ blob("Published", id="published") }}
    <input type="checkbox" id="published" name="published" {{ 'checked' if assignment.published }}>
    {{ endblob() }}
    
    {{ blob("Assignment Group", id="assignment_group_id") }}
    <select id="assignment_group_id" name="assignment_group_id" size="{{ groups_count }}">
      {% for assignment_group in assignment_groups %}
      <option value="{{ assignment_group.id }}" {{ 'selected' if assignment_group.id==assignment.assignment_group_id }}>
        {{ assignment_group.name }}
      </option>
      {% endfor %}
    </select>
    {{ endblob() }}
    
    {{ blob("Modules", id="modules") }}
    <select id="modules" name="modules" size="{{ groups_count }}" multiple>
      {% for module in modules %}
      <option value="{{ module.id }}" class="{{ module.id }}" {{ 'selected' if module.id in assignment_modules }}>{{ module.name }}</option>
      {% endfor %}
    </select>
    {{ endblob() }}

    {{ blob("Submission Types", id="submission-types") }}
    <select id="submission-types" name="submission_types" size="{{ groups_count }}" class="submission-types" multiple>
      {% for submission_type in submission_types %}
      <option value="{{ submission_type }}" class="{{ submission_type }}" {{ 'selected' if submission_type in assignment.submission_types }}{{ 'selected' if assignment is none and submission_type in default_submission_types }}>{{ submission_type }}</option>
      {% endfor %}
    </select>
    {{ endblob() }}

    <!-- https://codepen.io/Scribblerockerz/pen/qdWzJw
    https://stackoverflow.com/a/45249452 -->
    {{ blob("Attach File", id="assignment-attachment") }}
    <div class="file-area">
      <input type="file" id="assignment-attachment" name="assignment-attachment"/>
        <span id="assignment-attachment-status" class="file-placeholder">Drop a file here</span>
    </div>
    {{ endblob() }}
    
    {{ blob("External Tool URL", id="url") }}
    <input class="external-tool-options" type="text" id="url" name="url" value="{{ assignment.external_tool_tag_attributes.url if assignment.external_tool_tag_attributes }}" disabled>
    <button type="button" onClick="popupMyOpenMathFormatter()">Paste MyOpenMath Link</button>
    
    <h2>New Tab</h2>
    <input class="external-tool-options" type="checkbox" id="new-tab" name="new_tab" {{ 'checked' if assignment.external_tool_tag_attributes and assignment.external_tool_tag_attributes.new_tab }} disabled>
    {{ endblob() }}
  </div>

  <!-- TinyMCE editor -->
  <div class="parent-float">
    {{ blob("Description", id="description") }}
    <textarea id="description" name="description"></textarea>
    {{ endblob() }}
  
  <div id="raw-description-container" class="styled-div child-float">
    <h2>Description</h2>
    <pre id="raw-description" name="raw-description">{{ assignment.description | safe }}</pre>
  </div>
</div>


</form>
<button id="submit-button" class="action-button" type="submit" form="update">Submit</button>
<span class="additional-actions">
  <button id="duplicate-button" class="action-button warning" type="submit" form="update" formaction="/courses/{{ active_course.id }}/assignments/{{ 0 }}/update" title="Creates a new assignment with the details shown on this screen">Duplicate</button>
  <button id="template-button" class="action-button" type="submit" form="update" formaction="{{ url_for('new_assignment', course_id=active_course.id) }}" title="Opens the new assignment page with the details filled in as shown on this screen" >Template</button>
  <span class="copyto-span">
    <button id="copyto-button" class="action-button">Copy To</button>
    <span class="course-popup">
      <ul>
        {% for course in courses %}
        <button class="copyto-button{{ ' course-ended' if today and course.end_at_date and course.end_at_date < today }}{{ ' course-started' if today and course.start_at_date and course.start_at_date < today }}" type="submit" form="update" formaction="/courses/{{ course.id }}/assignments/{{ 0 }}/update">{{ course.name }}</button>
        {% endfor %}
      </ul>
    </span>
  </span>
  <button id="delete-button" class="action-button warning" type="submit" form="update" formaction="/courses/{{ active_course.id }}/assignments/{{ assignment.id or 0 }}/delete">Delete</button>
</span>

<script>
  $(document).ready(function () {
    $('#name-box').on('input', function() {
        if ($(this).hasClass('changed')) {
            $('#submit-button').addClass('disabled');
            // $('#submit-button').prop('disabled', true);
            $('#submit-button').attr('title', 'Click again to enable');
            // $('#submit-wrapper').addClass('disabled');
          } else {
            $('#submit-button').removeClass('disabled');
            // $('#submit-button').prop('disabled', false);
            $('#submit-button').removeAttr('title');
            // $('#submit-wrapper').removeClass('disabled');
        }
    });
    $('#submit-button').on('click', function() {
        if ($(this).hasClass('disabled')) {
            // Handle click on disabled button here
            $(this).removeClass('disabled');
            return false;
        } else {
          return true;
        }
    });
  })
</script>