{% extends 'page_template.html' %}

{% block title %}
Canvas - Assignment Details
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/assignments.css') }}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"> -->
<script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.datetimepicker.min.css') }}">
<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
<script>
  function formatMyOpenMathURL(url) {
    // Main website link
    // https://www.myopenmath.com/assess2/?cid=203357&aid=14546253
    // LTI link
    // https://www.myopenmath.com/bltilaunch.php?custom_place_aid=14546253
    var searchParams = new URLSearchParams(url);
    var aid = searchParams.get('aid')
    var theString = 'https://www.myopenmath.com/bltilaunch.php?custom_place_aid=' + aid
    return theString
  }
  function popupMyOpenMathFormatter() {
    var url = prompt('Paste MyOpenMath link here')
    var formattedURL = formatMyOpenMathURL(url)
    document.getElementById('url').value = formattedURL
    $("#submission-types").val("external_tool")
  }

  window.addEventListener('popstate', function(event) {
    location.reload()
  })
  
  var default_times = {{ default_times | tojson | safe }}

  $(document).ready(function () {
    var details_element = $("#assignment-details")
    var data_url = details_element.data('dataurl');
    var data_url = $(details_element).data('dataurl');
    // var history_url = $(details_element).attr('href');
    loadPage(data_url, data_url)
    
    $('#toggle-assignments').click(function() {
      var sidebar = $('#assignments-sidebar');
      if( sidebar.hasClass('collapsed') ) {
        // toggle collapsed
        sidebar.removeClass('collapsed');
        // replace all with longname
        $('.secondary-sidebar-name').each(function() {
          $(this).html($(this).data('longname'));
        })
      } else {
        // toggle collapsed
        sidebar.addClass('collapsed');
        // replace all with shortname
        $('.secondary-sidebar-name').each(function() {
          $(this).html($(this).data('shortname'));
        })
      }
    })
  })
</script>
{% endblock %}


{% block body %}
{% include 'assignments_sidebar.html' %}
<div class="disable-overlay"></div>
{% block content %}
{% endblock %}
{% endblock %}

{% block footer %}
<script>
  
</script>
{% endblock %}