{% extends 'page_template.html' %}

{% block title %}
Create New Assignment
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/assignments_bulk.css') }}">
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include datetimepicker plugin -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
<script>
  tinymce.init({
    selector: '#description',
    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code | numlist bullist | link',
    plugins: 'lists | autolink | link',
    default_link_target: '_blank',
    link_default_protocol: 'https',
    width: 650
  });
</script>
<script>
  var selectedAssignments = []
</script>
{% endblock %}


{% block body %}
{% include 'assignments_bulk_sidebar.html' %}


<div class="details">

  <form id="update" action="/courses/{{ active_course.id }}/assignments_bulk/update/{{ selected_assignment_ids }}" method="POST"
    enctype=multipart/form-data>
    <!-- Assignment Title -->
    <h1>
      Bulk Edit Assignments
    </h1>

    <!-- First row -->
    <div class="parent-float">
      <div class="styled-div child-float">
        <h2 for="name">Assignment Title</h2>
        <input type="text" id="name" name="name" autofocus="autofocus" value="{{ '' }}" required>
        <label id="id-label" for="id">ID: </label>
        <input type="text" id="id" name="id"
          value="{{ '' }}" disabled>
      </div>
      <div class="styled-div child-float">
        <h2 for="points_possible">Points</h2>
        <input type="number" id="points_possible" name="points_possible" min="0"
          value="{{ '' }}">
      </div>

      <div class="styled-div child-float">
        <h2>Due Date</h2>
        <input type="text" id="due_at" name="due_at" autocomplete="off" value="{{ '' }}">
      </div>
      <div class="styled-div child-float">
        <h2 for="published">Published</h2>
        <input type="checkbox" id="published" name="published">
      </div>
    </div>
    
    <!-- Second row -->
    <div class="parent-float">
      <div class="styled-div child-float">
        <h2>Assignment Group</h2>
        <select id="assignment_group_id" name="assignment_group_id" size="{{ '' }}">
          {% for assignment_group in assignment_groups %}
          <option value="{{ '' }}">
            {{ '' }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="styled-div child-float">
        <h2>Modules</h2>
        <select id="modules" name="modules" size="{{ groups_count }}" multiple>
          {% for module in modules %}
          <option value="{{ module.id }}" class="{{ module.id }}">{{ module.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="styled-div child-float">
        <h2>Submission Types</h2>
        <select id="submission-types" name="submission_types" size="{{ groups_count }}" class="submission-types" multiple>
          {% for submission_type in submission_types %}
          <option value="{{ submission_type }}" class="{{ submission_type }}">{{ submission_type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="styled-div child-float">
        <h2 for="file">Attach File</h2>
        <label for="file" class="file-label">Upload file</label>
        <input type="file" id="file" name="file">
      </div>
    </div>

    <!-- Third row -->
    <div class="parent-float">
      <div class="styled-div child-float">
        <h2>External Tool URL</h2>
        <input class="external-tool-options" type="text" id="url" name="url" value="{{ '' }}" disabled>
      </div>
      <div class="styled-div child-float">
        <h2>New Tab</h2>
        <input class="external-tool-options" type="checkbox" id="new-tab" name="new_tab" disabled>
      </div>
    </div>

    <!-- TinyMCE editor -->
    <div class="parent-float">
    <div class="styled-div child-float">
      <h2>Description</h2>
      <textarea id="description" name="description"></textarea>
    </div>
    
    <div id="raw-description-container" class="styled-div child-float">
      <h2>Description</h2>
      <pre id="raw-description" name="raw-description"></pre>
    </div>
  </div>


  </form>
  <button id="submit-button" class="action-button" type="submit" form="update">Submit</button>
  <button id="delete-button" class="action-button" type="submit" form="update" formaction="/courses/{{ active_course.id }}/assignments_bulk/delete/{{ selected_assignment_ids }}">Delete</button>
</div>
{% endblock %}
{% block footer %}
<script>
  // add event listener for assignment click
  document.querySelectorAll(".assignment-item").forEach(x => {
    x.addEventListener("click", function(event) {
      var changed = false
      var firstClick = document.querySelector(".first-click")
      document.querySelectorAll(".first-click").forEach(x => x.classList.remove("first-click"))
      // plain click, unselect everything else unless multiple are already selected
      if (document.querySelectorAll(".assignment-item.selected").length > 1) {
        x.classList.add("selected")
      } else {
        x.classList.toggle("selected")
      }
      if (!window.event.ctrlKey && !window.event.shiftKey) {
        document.querySelectorAll(".assignment-item.selected").forEach(y => {
          if (x != y) {
            y.classList.remove("selected")
          }
        })
        // x.classList.add("selected")
      }
      
      // ctrl + click, toggle selected
      if (window.event.ctrlKey) {
        // if( x.classList.contains("selected") ) {
        //   x.classList.remove("selected")
        //   // x.attributes
        //   selectedAssignments = selectedAssignments.filter(function(e) { return e !== x.attributes['value'].value})
        // } else {
        //   selectedAssignments.push(x.attributes['value'].value)
        // }
      }

      // shift + click, select...
      //   if last is current, toggle
      //   if last is none or unselected, select
      if(window.event.shiftKey) {
        document.getSelection().removeAllRanges(); // cancel HTML text selection, https://stackoverflow.com/questions/1527751/disable-text-selection-while-pressing-shift
        var assignment_items = document.querySelectorAll(".assignment-item")

        // sort out top and bottom items to select
        var firstClickIndex = [].indexOf.call(assignment_items, firstClick)
        var secondClickIndex = [].indexOf.call(assignment_items, x)
        var firstIndex = Math.min(firstClickIndex, secondClickIndex)
        var secondIndex = Math.max(firstClickIndex, secondClickIndex)
        // if no last clicked, or last clicked is not selected, only select clicked one // TODO: consider selecting all in between anyway
        if(firstIndex < 0 || !firstClick.classList.contains("selected")) {
          firstIndex = secondClickIndex
        }
        // select
        var toSelect = [].slice.call(assignment_items,firstIndex,secondIndex)
        console.log(toSelect)
        toSelect.forEach(y => {
          y.classList.add("selected")
        })
        
        x.classList.add("second-click") // TODO
      }
      x.classList.add("first-click")
      // firstClick.classList.add("first-click")
      
      selectedAssignments = [... document.querySelectorAll(".assignment-item.selected")].map(x => x.attributes['value'].value).toSorted()
      
      // update browser url
      var the_url = "{{ url_for('course_action', course_id=active_course.id, action='assignments_bulk') }}/" + selectedAssignments;
      // window.history.replaceState(null,'',base_url)
      window.history.pushState(null,'',the_url)
      
      var intersect_url = "{{ url_for('get_selected_assignments', course_id=active_course.id, assignment_ids=[0,0,0]) }}".replace('0,0,0', selectedAssignments)
      var response = fetch(intersect_url).then(response => response.json()).then(data => {
        for(key in data) {
          if(data[key] != []) {
            // parse each field differently
            var textFields = ['name', 'description', 'due_at']
            var numberFields = ['points_possible', 'assignment_group_id']
            var booleanFields = ['published']
            if (textFields.includes(key)) {
              document.getElementById(key).value = data[key]
            } else if (numberFields.includes(key)) {
              console.warn("parser not implemented for number " + key)
            } else if (booleanFields.includes(key)) {
              console.warn("parser not implemented for boolean " + key)
            } else {
              console.warn("parser not implemented for " + key)
            }
          }
        }
      })
      
    })
  })
  document.getElementById("new-assignment").addEventListener("click", function(event) {
    // TODO: this
  })

  $(document).ready(function () {
    selectedAssignments = selectedAssignments.concat({{ selected_assignment_ids }})
    window.history.pushState(null,'',"{{ url_for('course_action', course_id=active_course.id, action='assignments_bulk') }}/" + selectedAssignments)
    document.querySelectorAll(".assignment-item").forEach(x => {
      if(selectedAssignments.includes(Number(x.attributes['value'].value))) {
        x.classList.add("selected")
      }
    })

    // Initialize datetimepicker for date fields
    $("#due_at").datetimepicker({
      format: "Y-m-d H:i",
      timepicker: true,
      //inline: true,
      showButtonPanel: true,
      controlType: "select",
      minDate: '0',
      disableWeekDays: [6],
      defaultDate: '+1970/01/02',
      allowTimes: [
        '7:00', '7:45', '8:28', '9:11', '9:54', '10:37', '11:20', '11:50 ',
        '12:45', '13:28', '14:11', '14:54', '15:37', '16:20', '17:00', '17:40', '19:30', '22:00'
      ]
    });

    // Validate points field to allow only nonnegative integers
    $("#points_possible").on("input", function () {
      this.value = this.value.replace(/[^0-9]/g, '');
      if (this.value < 0) {
        this.value = '';
      }
    });
  });
</script>
{% endblock %}