<div id="assignments-sidebar" class="sidebar secondary-sidebar">
  <div class="assignments-sticky">
    <h3 id="toggle-assignments">Assignments</h3>
    <ul>
      <li class="sidebar-item refresh-item" id="assignments-refresh">
        <a href="{{ url_for('refresh_assignments', course_id=active_course.id) }}">Refresh ↺</a>
      </li>
      <li class="sidebar-item">
        <a href="{{ url_for('assignments_list', course_id=active_course.id) }}">List ≡</a>
      </li>
      <li class="sidebar-item" id="filter-item">
        <input type="search"  oninput="liveFilter()" id="filterbox" placeholder="Filter">
      </li>
      <li class="sidebar-item{{ ' active' if not assignment or not assignment['id'] }}" id="sidebar-new-assignment">
        <a href="{{ url_for('new_assignment', course_id=active_course.id) }}" class="sidebar-new-assignment">New Assignment</a>
      </li>
    </ul>
  </div>

  <ul>
    {% for for_assignment in assignments %}
    <li class="assignment sidebar-item{{ ' published' if for_assignment and for_assignment['published'] }}" id="{{ for_assignment.id}}">
      <a href="{{ url_for('assignments_page', course_id=active_course.id, assignment_id=for_assignment.id) }}"
        class="sidebar-assignment-link" id="sidebar-assignment-{{ for_assignment.id }}"
        data-dataurl="{{ url_for( 'push_page', course_id=active_course.id, assignment_id=for_assignment.id) }}"
        data-parseurl="{{ url_for('render_topbar',course_id=active_course.id,url=for_assignment.html_url) }}">
        <div class="secondary-sidebar-name" data-shortname="{{ for_assignment.name[:10] }}..."
          data-longname="{{ for_assignment.name }}"
          title="{{ for_assignment.name }}&#13;Due: {{ for_assignment.due_at if for_assignment.due_at else 'Not set' }}">
          {{ for_assignment.name }}
        </div>
        <div class="secondary-sidebar-details">
          <span class="date">
            {{ for_assignment.due_at_date | short_date if for_assignment.due_at }}
          </span>
          <span class="points">
            {{ for_assignment.points_possible }}
          </span>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<script>
  // handle click on assignments sidebar items
  $('a.sidebar-assignment-link').on('click', function(event) {
    if( event.ctrlKey || event.shiftKey || !document.getElementById('assignment-details') ) return true;
    var data_url = $(this).data('dataurl');
    var history_url = $(this).attr('href');
    
    loadPage(data_url, history_url)
    
    // event.preventDefault();
    return false;
  })

  // https://css-tricks.com/in-page-filtered-search-with-vanilla-javascript/
function liveFilter() {
  // Locate the card elements
  let sidebar_assignments = document.querySelectorAll('.assignment')
  // Locate the search input
  let search_query = document.getElementById("filterbox").value;
  // Loop through the cards
  for (var i = 0; i < sidebar_assignments.length; i++) {
    // If the text is within the card...
    if(sidebar_assignments[i].innerText.toLowerCase()
      // ...and the text matches the search query...
      .includes(search_query.toLowerCase())) {
        // ...remove the `.is-hidden` class.
        sidebar_assignments[i].classList.remove("is-hidden");
    } else {
      // Otherwise, add the class.
      sidebar_assignments[i].classList.add("is-hidden");
    }
  }
}
</script>