{% extends 'page_template.html' %}

{% block title %}
Canvas - Assignment Details
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/assignments.css') }}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"> -->
<script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.datetimepicker.min.css') }}">
<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
<script>
  function formatMyOpenMathURL(url) {
    // Main website link
    // https://www.myopenmath.com/assess2/?cid=203357&aid=14546253
    // LTI link
    // https://www.myopenmath.com/bltilaunch.php?custom_place_aid=14546253
    var searchParams = new URLSearchParams(url);
    var aid = searchParams.get('aid')
    var theString = 'https://www.myopenmath.com/bltilaunch.php?custom_place_aid=' + aid
    return theString
  }
  function popupMyOpenMathFormatter() {
    var url = prompt('Paste MyOpenMath link here')
    var formattedURL = formatMyOpenMathURL(url)
    document.getElementById('url').value = formattedURL
  }
  
  var default_times = {{ default_times | tojson | safe }}
</script>
{% endblock %}


{% block body %}
{% include 'assignments_sidebar.html' %}
<div class="details" id="assignment-details">
{% include 'assignment_details.html' %}
</div>
{% endblock %}

{% block footer %}
<script>
  document.getElementById("delete-button").disabled = ( '{{ assignment.id }}' == 0 )
  document.getElementById("submission-types").addEventListener('change', function(event) {
    //  document.getElementById("url").disabled = !([...event.target.selectedOptions].map(x => x.value).includes('external_tool'))
    document.querySelectorAll(".external-tool-options").forEach(x => {
      x.disabled = !([...event.target.selectedOptions].map(y => y.value).includes('external_tool'))
      // x.style.display = !([...event.target.selectedOptions].map(y => y.value).includes('external_tool'))
     })
  });

  $('#toggle-assignments').click(function() {
    var sidebar = $('#assignments-sidebar');
    if( sidebar.hasClass('collapsed') ) {
      // toggle collapsed
      sidebar.removeClass('collapsed');
      // replace all with longname
      $('.secondary-sidebar-name').each(function() {
        $(this).html($(this).data('longname'));
      })
    } else {
      // toggle collapsed
      sidebar.addClass('collapsed');
      // replace all with shortname
      $('.secondary-sidebar-name').each(function() {
        $(this).html($(this).data('shortname'));
      })
    }
  })

  $(document).ready(function () {
    initTinyMCE();
    initDatePicker();
    document.querySelectorAll('input').forEach(input => {
    // Gather initial values
    if(input.type == "checkbox") {
      initialValues[input.id] = input.checked
    } else {
      initialValues[input.id] = input.value;
    }
    // Add event listeners to input elements
    input.addEventListener('input', handleInputChange);
  });
  document.querySelectorAll('select').forEach(input => {
    // Gather initial values
    initialValues[input.id] = [...input.selectedOptions].map(x => x.value);
    // Add event listeners to input elements
    input.addEventListener('change', handleInputChange);
  });
  

  
  // initialValues['description'] = JSON.stringify(document.getElementById("description").innerHTML)

  // enable external tools if selected
  var submission_types_element = document.getElementById("submission-types")
  // submission_types_element.dispatchEvent(new CustomEvent('change', {'target': {'selectedOptions': submission_types_element.selectedOptions}}))
  submission_types_element.dispatchEvent(new CustomEvent('change', {}))

  // Validate points field to allow only nonnegative integers
  $("#points_possible").on("input", function () {
    this.value = this.value.replace(/[^0-9]/g, '');
    if (this.value < 0) {
      this.value = '';
    }
  });

  $("#assignment-attachment").change(function() {
    if(this.files.length > 0) {
        $(this).addClass('file-present')
        $(this).parent().parent().addClass('changed')
        $("#assignment-attachment-status").text(this.files[0].name)
        console.log("File")
    } else {
        $(this).removeClass('file-present')
        $(this).parent().parent().removeClass('changed')
        $("#assignment-attachment-status").text("Drop a file here")
        console.log("No file")
    }
  })

  // Scroll to show selected assignment
  const selectedAssignment = document.querySelector(".secondary-sidebar .item.active")

  if (selectedAssignment) {
    selectedAssignment.scrollIntoView({
      behavior: "smooth", // Use "smooth" for smooth scrolling, or "auto" for instant scrolling
      block: "nearest",   // Scroll block: "start", "center", "end", or "nearest"
      inline: "nearest"   // Scroll inline: "start", "center", "end", or "nearest"
    });
  }
  });
</script>
{% endblock %}