<div id="courses-sidebar" class="sidebar primary-sidebar">
    <div class="assignments-sticky">
        <h3 id="toggle-courses" title="Courses">Courses</h3>
        <ul>
            <li class="sidebar-item" id="courses-refresh">
                <a href="/courses/refresh">Refresh ↺</a>
            </li>
        </ul>
    </div>
    <ul>
        {% for course in all_courses() %}
            <li class="sidebar-item{{ ' active' if active_course and active_course.id == course.id }} sidebar-course">
                <a href="{{ url_for('course_page', course_id=course.id) + action }}"
                   id="{{ course.id }}" 
                   data-shortname="{{ course.course_code }}"
                   data-longname="{{ course.name }}"
                   class="sidebar-link">
                    {{ course.name }}
                </a>
                <div class="course-actions">
                    <a href="{{ url_for('assignments_page', course_id=course.id) }}">→ Assignments</a>
                    <a href="{{ url_for('quiz_page', course_id=course.id) }}">→ Quizzes</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>