<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/page_template.css') }}">
    <title>Course Selection</title>
</head>
<body>
    <h1>Course Selection</h1>
    
    <div class="page-container">


        <div id="index-content">
            <ul>

                {% for course in all_courses() %}
                <li class="flex-item">
                    <a href="{{ url_for('course_action', course_id = course.id, action = action) }}"
                    id="{{ course.id }}" 
                    data-shortname="{{ course.course_code }}"
                    data-longname="{{ course.name }}">
                    <!-- <img src="{{ course.image_download_url }}" class="course-image"> -->
                    <div class="course-image" style="background-image: url({{ course.image_download_url }});">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="course-name">
                        {{ course.name }}
                    </div>
                    <div class="course-shortname">
                        {{ course.course_code }}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <script>
        document.querySelectorAll('.image-overlay').forEach(function (overlay) {
            overlay.style.backgroundColor = '#' + (Math.random().toString(16) + "000000").substring(2,8)
        }
        )
    </script>
</body>
</html>