{% extends 'page_template.html' %}

{% block title %}
Course Selection
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}


{% block body %}
<div id="index-content">
    <ul>
        {% for course in courses %}
        <li class="flex-item">
            <a href="{{ url_for('course_page', course_id = course.id) }}"
            id="{{ course.id }}" 
            data-shortname="{{ course.course_code }}"
            data-longname="{{ course.name }}">
            <!-- <img src="{{ course.image_download_url }}" class="course-image"> -->
            <div class="course-image" style="background-image: url({{ course.image_download_url }});">
                <div class="image-overlay"></div>
            </div>
            <div class="course-description">
                <div class="course-name">
                    {{ course.name }}
                </div>
                <div class="course-shortname">
                    {{ course.course_code }}
                </div>
            </div>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
<script>
document.querySelectorAll('.image-overlay').forEach(function (overlay) {
    overlay.style.backgroundColor = '#' + (Math.random().toString(16) + "000000").substring(2,8)
})
</script>
{% endblock %}