    <div class="overlay" id="overlay">
      <div class="message" id="message-box">
          <div class="flash-message">
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                              {{ message|safe }}
                          </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
          </div>
          <button class="ok-button" id="ok-button">OK</button>
      </div>
  </div>