<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/courses_sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/overlay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/page_template.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.7.1.js') }}"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="page-container">

        {% include 'topbar.html' %}
        <div class="main">

            {% include 'courses_sidebar.html' %}
            {% include 'overlay.html' %}

            <div class="content">
                {% block body %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}
            <script>
                // Courses sidebar
                $("#toggle-courses").click(function() {
                    var sidebar = $('#courses-sidebar');
                    if( sidebar.hasClass('collapsed') ) {
                        // toggle collapsed
                        sidebar.removeClass('collapsed');
                        // replace all with longname
                        $('.sidebar-link').each(function() {
                            $(this).html($(this).data('longname'));
                        })
                    } else {
                        // toggle collapsed
                        sidebar.addClass('collapsed');
                        // replace all with shortname
                        $('.sidebar-link').each(function() {
                            $(this).html($(this).data('shortname'));
                        })
                    }
                })

                // Overlay
                var overlay = document.getElementById('overlay');
                var okButton = document.getElementById('ok-button');

                // Check if there are non-empty flash messages to display
                var flashMessages = document.querySelectorAll('.flash-message');
                var hasNonEmptyMessages = Array.from(flashMessages).some(function (message) {
                    return message.textContent.trim() !== "";
                });

                if (hasNonEmptyMessages) {
                    overlay.style.display = 'block';
                    okButton.focus()
                };

                // Hide the overlay and clear messages when OK button is clicked
                okButton.addEventListener('click', function () {
                    overlay.style.display = 'none';
                });
                overlay.addEventListener('click', function () {
                    var messageBox = document.getElementById('message-box');
                    if (!messageBox.contains(event.target)) {
                        overlay.style.display = 'none';
                    }
                });
                overlay.addEventListener('keydown', function (event) {
                    if (event.key === 'Escape') {
                        overlay.style.display = 'none';
                    }
                });
            </script>

        </div>
    </div>
</body>

</html>