{% extends 'page_template.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/quiz.css') }}">
<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
<script>
    tinymce.init({
        selector: '#question',
    });
</script>
{% endblock %}


{% block body %}
{% include 'quiz_sidebar.html' %}
<div class="quiz-content">
    <div class="styled-div">
        <a href="https://canvas.instructure.com/courses/{{ active_course.id }}/quizzes/{{ quiz.id }}" target="_blank"
            rel="noopener noreferrer">
            <h2 for="name">{{ quiz.title }}</h2>
        </a>
        <p>Points: {{ quiz.points_possible }}</p>
        <p>Questions: {{ quiz.question_count }}</p>

        {% for question in quiz_questions %}
        {% include 'quiz_question.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    //$(document).ready(function () {
    document.addEventListener("DOMContentLoaded", function () {

        var questionDivs = document.querySelectorAll(".question");

        questionDivs.forEach(function (questionDiv) {
            var htmlContent = questionDiv.textContent;
            //$('.question').html($('#about').val());
            var tempElement = document.createElement("div");
            tempElement.innerHTML = htmlContent;
            questionDiv.innerHTML = htmlContent;
        })
    }
    );
</script>
{% endblock %}