<div id="quizzes-sidebar" class="sidebar secondary-sidebar">
  <h3>Quizzes</h3>

  <ul>
    {% for for_quiz in quizzes %}

    <li class="sidebar-item{{ ' active' if quiz.id == for_quiz.id }}">
      <a href="/courses/{{ active_course.id }}/quizzes/{{ for_quiz.id }}"
         class="secondary-sidebar item">
         <div class="secondary-sidebar-name"
           title="{{ for_quiz.title }}">
           {{ for_quiz.title }}
         </div>
         <div class="secondary-sidebar-details">
           {{ for_quiz.due_at_date.strftime('%Y-%m-%d') if for_quiz.due_at }}
         </div>
         
        </a>
    </li>

    {% endfor %}
  </ul>
</div>