{% if not quiz_question %}
{% set quiz_question = None %}
{% endif %}
<div id="quiz-questions-sidebar" class="sidebar tertiary">
  <h3>Questions</h3>
  <ul>
    {% for for_quiz_question in quiz_questions %}

    <li>
      <a href="/courses/{{ active_course.id }}/quizzes/{{ quiz.id }}/question/{{ for_quiz_question.id }}"
        class="item{{ ' active' if for_quiz_question.id == quiz_question.id else ' inactive'}}"
        title="{{ for_quiz_question.question_text }}">
        <div class="tertiary-sidebar-name">
          {{ for_quiz_question.question_name }}
        </div>
        <div class="tertiary-sidebar-short">
          {{ for_quiz_question.question_text }}
        </div>
      </a>
    </li>

    {% endfor %}
  </ul>
</div>