{% extends 'page_template.html' %}

{% block title %}
Canvas - Settings
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/settings.css') }}">
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}


{% block body %}
<div id="settings-page">
    <h1>Edit Site Settings</h1>
    <form id="settings-form" method="post" action="/update_settings">
        <div class="parent-float">
            <div class="styled-div">
                <h2>Profile</h2>
                <select id="section-selection" name="section-selection" size="4">
                    <option value="">&lt;new profile&gt;</option>
                    {% for section in config.sections() %}
                    <option value="{{section}}" {% if section == active_profile %}selected{% endif %}>{{section}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="styled-div">
                <h2>Settings</h2>
                <div id="section-settings"></div>
                <details><summary>Custom Certificates</summary><em>custom_certificate is used to connect to a server with an invalid certificate. Download the certificate and put its filename in the box.</em></details>
                <div>
                    <input type="submit" value="Save + Load" class="action-button small left">
                    <button type="submit" class="action-button small warning right" formaction="{{ url_for('delete_profile') }}">Delete</button>
                </div>
            </div>
        </div>
    </form>

    <div id="hidden">
        {% for section in config.sections() %}
        <div data-section="{{section}}">
            <div class="section-settings">
                <label for="section-name">Section Name:</label>
                <input type="text" name="section-name" value="{{ section }}">
            </div>
            {% for key, value in config[section].items() %}
            <div class="section-settings">
                <label for="{{ key }}">{{ key }}:</label>
                <input type="text" name="{{ key }}" id="{{ key }}" value="{{ value }}">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div id="new-section">
            <div class="section-settings">
                <label for="section-name">Section Name:</label>
                <input type="text" name="section-name" value="">
            </div>
            {% for key in required_fields %}
            <div class="section-settings">
                <label for="{{ key }}">{{ key }}:</label>
                <input type="text" name="{{ key }}" value="">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    $(document).ready(function () {
    })
</script>
{% endblock %}