{% if link_url is none %}
{% if assignment %}
{% set link_url = 'https://canvas.instructure.com/courses/' + active_course.id|string %}
{% else %}
{% set link_url = None %}
{% endif %}
{% endif %}
<div id="topbar" class="topbar">
    <!-- <ul id="topbar-ul"> -->
        <div><a href="/" title="Courses List">◰</a></div>
        <div><a href="{{ url_for('parse_url', url=link_url) }}" title="Parse URL">📝</a></div>
        {% if local_link %}
        <div><a href="{{ local_link }}" title="Local: {{ local_link }}">✒️</a></div>
        {% endif %}
        {% if active_course %}
        <div><a href="{{ base_url }}/courses/{{ active_course.id }}" target="_blank"
                rel="noopener noreferrer">🔗 {{ active_course.course_code }}</a></div>
        <div><a href="/courses/{{ active_course.id }}/assignments/new">New Assignment</a></div>
        <div><a href="/courses/{{ active_course.id }}/assignments_bulk">Bulk</a></div>
        <div><a href="/courses/{{ active_course.id }}/quizzes">Quizzes</a></div>
        {% endif %}
        <!-- <div>Grade Quiz</div> -->
        <!-- <div>Quiz Editor</div> -->
        <!-- <div>Student Information</div> -->
        <!-- <div><form action="/refresh" method="POST"  id="myForm"><button type="submit" class="btn btn-sm btn-info" name="something">Refresh</button></form> -->
                
        <div class="spacer"></div>
        <div class="refresh topbar-button" id="refresh"><a class="refresh" href="/refresh">Refresh</a></div>
        <div class="topbar-button"><a id="messages" onClick="document.getElementById('overlay').style.display='block'; okButton.focus();">Messages</a></div>
        {% if active_course %}
        <div class="spacer"></div>
        <div><a href="https://canvas.instructure.com/courses/{{ active_course.id }}/assignments" target="_blank"
                rel="noopener noreferrer">🔗 Assignments</a></div>
        <div><a href="https://canvas.instructure.com/courses/{{ active_course.id }}/modules" target="_blank"
                rel="noopener noreferrer">🔗 Modules</a></div>
        {% endif %}
        <div><a href="{{ url_for('settings') }}" title="Settings">🛠️</a></div>
    <!-- </ul> -->
</div>